*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    #header{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 10vh;
        width: 100vw;
        position: fixed;
        background-color: rgb(97, 117, 229);
        z-index: 20;
        #logo{
            height: 90%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .texts{
            position: relative;
            display: flex;
            font-size: large;
            font-weight: 500;
            cursor: pointer;
            transition: color 0.3s;
            color: white;
            p{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }
        
        .texts :hover{
            color: black;
        }
    }
    #fakeheader{
        height: 10vh;
        background-color: rgb(97, 117, 229);
    }
    #aboutme{
        height: 90vh;
        display: flex;
        #leftbox{
            height: 90vh;
            width: 25vw;
            background-color: rgb(97, 117, 229);;
            text-align: center;
            img{
                margin-top: 65px;
                width: 15vw;
                border-radius: 50%;
                border:2px rgb(0, 0, 0) solid;
                }
            #NameCollege{
                color: white;
                margin-top: 20px;
                big{
                    font-size: 27px; 
                    font-family: cursive;
                }
                small{
                    font: caption;
                }
                #logolink{
                    margin-top: 15px;
                    padding-left: 100px;
                    padding-right: 100px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .icon {
                        width: 100px;
                        height: auto;
                        cursor: pointer;
                        transition: transform 0.3s ease;
                        font-size: 25px;
                    }
                    .icon:hover {
                        transform: scale(1.5);
                        color: black;
                    }
                    a{
                        color: white;
                    }
                }
                #Contact{
                    margin-top: 65px;
                    text-align: center;
                    a{
                        color: white;
                    }
                    .mail {
                        height: auto;
                        cursor: pointer;
                        transition: transform 0.3s ease;
                    }
                }
            }
        }
        #rightbox{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90vh;
            width: 75vw;
            img{
                height: 90.5vh;
                width: 74vw;
                }
            #text{
                margin-top: 200px;
                z-index: 2;
                position: absolute;
                h1{
                    color: white;
                    font-size: 40px;
                    small{
                        font-size: 20px;
                    }
                    big{
                        font-family: serif;
                        font-size:80px;
                    }
                }
                
                p{
                    color: white;
                    font-size: larger;
                }
            }
        }
    }
}



#page2{
    background-color: rgba(255, 255, 255, 0.371);
    .textbox{
        margin-left: 20px;
        margin-right: 20px;
        h3{
            margin-top: 30px;
            margin-left: 150px;
            font-style: italic;
            font-size: xx-large;
            font-weight: lighter;
            color: rgb(85,105,220);
            font-family:playfair display, serif;
        }
    }
    #subpage1{
        width: 100%;
        height: 75vh;
        background-color: rgb(236, 239, 255);
        #intro{
            padding: 50px;
            h3{
                margin-top: 50px;
                margin-left: 150px;
                margin-bottom: 20px;
                font-style: italic;
                font-size: xx-large;
                font-weight: lighter;
                color: rgb(85,105,220);
                font-family:playfair display, serif; 
            }
            p{
                margin-left: 150px;
                margin-right: 150px;
                color: rgb(28,35,73); 
                font-family: cursive;
                line-height: 2em;
                font-size: 20px;
            }
        }
    }
    #subpage2{
        display: flex;
        height: 83vh;
        width: 100%;
        background-color: white;
        #education{
            padding: 100px;
            h3{
                margin-left: 90px;
            }
            p1{
                margin-left: 90px;
                letter-spacing: 0.15em;
                color: rgb(147, 159, 226);
            }
            .point{
                p{
                    margin-top: 20px;
                    margin-left: 90px;
                    margin-right: 50px;
                    color: rgb(28,35,73) ; 
                    font-family: cursive;
                    font-size: 17px;
                }
            }
            .details{
                p{
                    margin-top: 10px;
                    margin-left: 90px;
                    margin-right: 50px;
                    color: rgb(91, 102, 160) ; 
                    font-family: cursive;
                    font-size: 15px;
                }
            }
            a{
                color: rgb(91, 102, 160) ; 
                font-family: cursive;
                font-size: 15px;
            }
        }
        #experience{
            h3{
                margin-left: 150px;
            }
            p{
                margin-left: 150px;
                margin-right: 150px;
                color: rgb(28,35,73) ; 
                font-family: cursive;
                line-height: 2em;
                font-size: 20px;
            }
            p1{
                margin-left: 20px;
                margin-right: 150px;
                color: rgb(28,35,73) ; 
                font-family: cursive;
                line-height: 2em;
                font-size: 20px;
            }
            a{
                color: black;
                font-family: cursive;
                line-height: 2em;
                font-size: 20px;
            }
        }
    }
    #subpage4{
        width: 100%;
        height: 85vh;
        background-color: rgb(236, 239, 255);
        #EventsAttended{
            
            margin-top: 70px;
            padding: 100px;
            h3{
                margin-left: 90px;
            }
            p{
                margin-left: 150px;
                margin-right: 150px;
                color: rgb(28,35,73) ; 
                font-family: cursive;
                line-height: 2em;
                font-size: 20px;
            }
            p1{
                margin-left: 90px;
                letter-spacing: 0.15em;
                color: rgb(147, 159, 226);
            }
            a{
                color: rgb(91, 102, 160) ; 
                font-family: cursive;
                font-size: 15px;
            }
            .point{
                p{
                    margin-top: 20px;
                    margin-left: 90px;
                    margin-right: 50px;
                    color: rgb(28,35,73); 
                    font-family: cursive;
                    font-size: 17px;
                }
            }
            .detalis{
                p{
                    margin-top: 10px;
                    margin-left: 90px;
                    color: rgb(91, 102, 160) ; 
                    font-family: cursive;
                    font-size: 15px;
                }
            }
        }
    }
    #subpage5{
        display: flex;
        height: 62vh;
        width: 100%;
        background-color: white;
        #membership{
            padding: 100px;
            h3{
                margin-left: 90px;
            }
            p1{
                margin-left: 90px;
                letter-spacing: 0.15em;
                color: rgb(147, 159, 226);
            }
            p{
                margin-top: 20px;
                margin-left: 50px;
                margin-right: 50px;
                color: rgb(28,35,73) ; 
                font-family: cursive;
                line-height: 2em;
                font-size: 17px;
            }
            .point{
                p{
                    margin-top: 20px;
                    margin-left: 90px;
                    margin-right: 50px;
                    color: rgb(28,35,73) ; 
                    font-family: cursive;
                    font-size: 17px;
                }
            }
            .detalis{
                p{
                    margin-top: 10px;
                    margin-left: 90px;
                    margin-right: 130px;
                    color: rgb(91, 102, 160) ; 
                    font-family: cursive;
                    font-size: 15px;
                }
            }
        }
        #courses{
            padding: 100px;
            h3{
                margin-left: 90px;
            }
            p1{
                margin-left: 90px;
                letter-spacing: 0.15em;
                color: rgb(147, 159, 226);
            }
            p{
                margin-top: 20px;
                margin-left: 50px;
                color: rgb(28,35,73) ; 
                font-family: cursive;
                line-height: 2em;
                font-size: 17px;
            }
            .point{
                p{
                    margin-top: 20px;
                    margin-left: 90px;
                    color: rgb(28,35,73) ; 
                    font-family: cursive;
                    font-size: 17px;
                }
            }
            .detalis{
                p{
                    margin-top: 10px;
                    margin-left: 90px;
                    color: rgb(91, 102, 160) ; 
                    font-family: cursive;
                    font-size: 15px;
                }
            }
        }
    }
    #subpagex{
        width: 100%;
        display: flex;
        background-color:rgb(236, 239, 255) ;
        height: 50vh;
        #con1{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            #logolink{
                margin-left: 20px;
                margin-top: 20px;
                height: 10vh;
                width: 10vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .icon{
                    width: 100px;
                    height: auto;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                    font-size: 30px;
                }
                .icon:hover {
                    transform: scale(1.5);
                    color: black;
                }
                a{
                    color: black;
                }
            }
            p{
                font-family: serif;
                font-size:40px;
                font-style: italic;
            }
        }
        #box2{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            a{
                color: black;
            }
            .mail2{
                height: auto;
                cursor: pointer;
                transition: transform 0.3s ease;
            }
        }
        #box3{
            margin-top: 150px;
            margin-left: 150px;
            width: 25vw;
            display: flex;
            justify-content: center;
            align-items: center;
            #backToTop {
                position: relative;
                width: 100px;
                height: 100px;
            }
            #iconback {
                cursor: pointer;
                transition: color 0.3s;
                position: absolute;
                font-size: 60px;
                color: black ; 
            }
            
            #iconfront {
                cursor: pointer;
                transition: color 0.3s;
                position: absolute;
                font-size: 50px;
                top: 5px;
                left: 5px;
                color: black ; 
            }
        }
    }
}


#page3{
    width: 100%;
    background-color: rgb(97, 117, 229);
    #Compitition{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        color: rgb(255, 255, 255);
    }
}